dogecoin-logo.source.txt filter=lfs diff=lfs merge=lfs -text
INSTALL.md filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
build-aux filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
libbitcoinconsensus.pc.in filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
share filter=lfs diff=lfs merge=lfs -text
autom4te.cache filter=lfs diff=lfs merge=lfs -text
config.log filter=lfs diff=lfs merge=lfs -text
depends filter=lfs diff=lfs merge=lfs -text
libbitcoinconsensus.pc filter=lfs diff=lfs merge=lfs -text
qa filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
contrib filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
libtool filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
config.status filter=lfs diff=lfs merge=lfs -text
